<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Username</title>
  </head>
  <body>
    <form method="post" action="/user">
      <input type="text" placeholder="username" name="username" />
      <input type="email" placeholder="email" name="email" />
      <input type="password" name="password" placeholder="enter password" />
      <button type="submit">Submit the post</button>
    </form>
  </body>
</html>
